@page
@model NET_PS_5.Pages.EditCatModel
@{


    ViewData["Title"] = "Edycja produktu";

    string idOfProduct = HttpContext.Request.Query["id"];

}


<h2>Edycja produktu</h2>
<br />
<br />

<div class="container">
    <form class="form-horizontal" method="post">
        <div class="form-group">
            @*<label asp-for="editProduct.id" class="control-label col-sm-2"></label>*@
            <div class="col-sm-6">
                <input asp-for="editCat.id" hidden value="@idOfProduct" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label asp-for="editCat.shortName" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                <input asp-for="editCat.shortName" class="form-control">
                <span asp-validation-for="editCat.shortName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="editCat.longName" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                <input asp-for="editCat.longName" class="form-control">
                <span asp-validation-for="editCat.longName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn btn-primary">Zatwierdź</button>
            </div>
        </div>
    </form>
</div>
